@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: Roboto, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    text-align: center;
}

.main {
    display: flex;
    background-color: #9DBDFC;
    padding: 20px;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    overflow: auto;
    margin: auto;
}

.left__Content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right__Content {
    width: 60%;
}

/* Flow */

.flow {
    width: 480px;
    height: 256px;
    border-radius: 20px;
    padding: 12px;
    text-align: center;
    background-color: #1966b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    margin-bottom: 20px;
}

.flow__top .flow__top--title {
    font-size: 2rem;
    font-weight: 500;
}

.flow__top .flow__top--mode {
    font-size: 1rem;
    padding: 12px;
    background: #151932;
    border-radius: 30px;
}

.flow__top .flow__top--mode .mode-item {
    margin-right: 0.5em;
    text-decoration: none;
    font-weight: 500;
    color: #484c67;
    transition: all 300ms ease-out;
}

.flow__top .flow__top--mode .mode-item.active {
    padding: 0.5rem;
    border-radius: 50px;
	background-color: #fa6f71;
    color: #1c2244;
}

.flow__top .flow__top--mode .mode-item:last-child { 
    margin-right: 0; 
}

.flow__top .flow__top--start {
    background: royalblue;
    padding: 0.5rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.flow__bottom {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}

.flow__bottom .flow__bottom--pomodoro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0.5rem 0;
    text-align: center;
    border-radius: 50%;
    background: #151932;
    box-shadow: 50px 50px 82px #0e1021, -50px -50px 82px #1c2244;
}

.flow__bottom .flow__bottom--pomodoro::before {
    content: '';
    position: absolute;
    border: 10px solid royalblue;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.flow__bottom .flow__bottom--pomodoro .pomodoro__time {
    font-size: 1.5rem;
    font-weight: 500;
}

.flow__bottom .flow__bottom--pomodoro .pomodoro__state {
    font-size: 1rem;
    margin-top: 0.5em;
    padding-left: 0.5em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

/* Catch the insect */

.catch-insect {
    position: relative;
    margin-bottom: 20px;
}

.game--title {
    line-height: 1.4;
    font-family: 'Press Start 2P', sans-serif;
    margin-bottom: 1rem;
}

.btn {
    border: 0;
    background-color: #fff;
    color: #516dff;
    padding: 15px 20px;
    cursor: pointer;
    font-family: 'Press Start 2P', sans-serif;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: 0;
}

.game-screen {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ec6e33;
    border-radius: 20px;
    width: 480px;
    height: 256px;
    transition: margin 0.5s ease-out;
}

.game-screen:first-child {
    z-index: 9999;
}

.game-screen:nth-child(2) {
    z-index: 999;
}

.game-screen:last-child {
    z-index: 99;
}

.game-screen.active {
    display: none;
}

.insect__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.insect__list .insect__list--item .insect-name {
    /* font-family: Roboto, sans-serif; */
    font-size: 11px;
}

.insect__list .insect__list--item {
    margin: 10px;
}

.choose-insect {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choose-insect:hover {
    background-color: #fff;
    color: #516dff;
}

.choose-insect:active {
    background-color: rgba(255, 255, 255, 0.7);
}

.choose-insect img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.time,
.score {
    position: absolute;
    top: 0px;
}

.time {
    left: 12px;
}

.score {
    right: 12px;
}

.insect {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out;
}

.insect.caught {
    transform: translate(-50%, -50%) scale(0);
}

.insect img {
    width: 50px;
    height: 50px;
}

/* Quotes */

.quotes {
    background-color: #5bb24d;
    color: #fff;
    border-radius: 20px;
    padding: 12px;
    width: 480px;
    height: 256px;
    position: relative;
}

.quote-icon {
    color: rgba(255, 255, 255, 0.3);
    font-size: 28px;
    position: absolute;
    top: 22px;
}

.quote-right {
    right: 12px;
}

.quote-left {
    left: 12px;
}

.truly-quote {
    line-height: 28px;
    text-align: center;
    padding: 0 1.5rem;
}

.user .user__details--image {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.user .user__details {
    margin-left: 10px;
}

.user .user__details--name {
    margin: 0;
}

.progress-bar {
    background-color: #fff;
    height: 4px;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}

@media (max-width: 480px) {
    .truly-quote {
        padding: 20px 30px;
    }

    .quote-icon {
        display: none;
    }
}

/* Todo */

.todos {
    font-family: Roboto, san-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.todos__title {
    color: #AF1A1A;
    font-size: 10rem;
    text-align: center;
    opacity: 0.4;
    margin-bottom: 2rem;
}

.todos__form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 400px;
    margin: 0;
}

.todos__form .todos__form--input {
    border: none;
    color: #444;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
}

.todos__form .todos__form--input::placeholder {
    color: #d5d5d5;
}

.todos__form .todos__form--input:focus {
    outline-color: rgb(179, 131, 226);
}

.todos__form .todos__form--item {
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos__form .todos__form--item li {
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: #000;
}

.todos__form .todos__form--item li.completed {
    color: #b6b6b6;
    text-decoration: line-through;
}

.todos__desc {
    color: #ccc;
    margin-top: 3rem;
    text-align: center;
}